<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1074551850242-io8jovl47l9kbhoicmv5trfucli20l68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074551850242-io8jovl47l9kbhoicmv5trfucli20l68</string>
	<key>API_KEY</key>
	<string>AIzaSyB3I366EuCm8MycX3lctUeQxwkqdiJwt0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1074551850242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.transalt.ios</string>
	<key>PROJECT_ID</key>
	<string>transalt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>transalt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074551850242:ios:33e5ad72cb6b9fd6</string>
	<key>DATABASE_URL</key>
	<string>https://transalt-app.firebaseio.com</string>
</dict>
</plist>